<div class="container">

  <aside class="sidebar">
    <div class="event-name">
      <p>
        SLACA 2019
      </p>
    </div>

    <img src="assets/dewey 4.png" alt="logo slaca" class="slaca-logo">
    <ul class="sidebar-menu">
      <li>
        <span>Apresentação</span>
      </li>
      <li>
        <span>Comitês</span>s
      </li>
      <li>
        <span>Autores</span>
      </li>
      <li>
        <span>Eixos temáticos</span>
      </li>
      <li class="menu-active">
        <span>Trabalhos</span>
      </li>
      <li>
        <span>Contato</span>
      </li>
    </ul>
  </aside>

  <main>
    <header class="content-header">
      <div class="header-text">
        <p>Anais do Simpósio Latino Americano de Ciências de Alimentos </p>
        <p>Anais do 13º Simpósio Latino Americano de Ciência de Alimentos </p>
        <p>ISSN: 1234-5678</p>
      </div>

      <div class="language-button">
        <div class="language-image">
          <img src="assets/language_image.svg" alt="Globo Terreste" class="global-image">

        </div>

        <div class="pt-br">
          <p>PT, BR</p>
        </div>

        <div class="dropdown-image">
          <img src="assets/dropdown.svg" alt="dropdown" class="dropdown">
        </div>
      </div>

      <div class="profile">
        <div class="profile-text">
          <p>Bem vindo!</p>
          <p>alguem12@galoascience.com</p>
        </div>
        <div class="profile-image">
          <img src="assets/profile_image.png" alt="imagem de perfil">
          <span class="badge">2</span>
        </div>
      </div>
    </header>

    <section class="content-body">

      <div class="video-container">
        <div class="video-header">
          <div class="video-title">
            <h2>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos,
              do
              município de Campinas/SP</h2>
          </div>
          <div class="video-options">
            <div>
              <img src="assets/download button.png" alt="botão de download">
              <img src="assets/favorite button.png" alt="botão de favoritar">
              <img src="assets/doi button.png" alt="botão de doi">
            </div>
            <p class="text-options">COMO CITAR ESSE TRABALHO?</p>
          </div>
        </div>
        <div class="video-content">
          <div class="video">
            <img src="assets/video_layout.png" alt="fundo de vídeo">
          </div>
          <article class="panel" id="details">
            <p class="panel-header">
              Detalhes
            </p>
            <div class="panel-body">

              Tipo de Apresentação: <b>Pôster</b>
              Eixo temático: <b>Alimentação e saúde (AS)</b>
              Palavras-chaves: <b>Alimentos funcionais, alimentação escolar.</b>

              <div class="autors">
                <b>Autores:</b>
                Galileo Galilei¹
                Berta Lange de Morretes²
                Isaac Newton³
                Cesar Lattes¹
                Stephen Hawking⁴
              </div>

              <div class="institutes">
                ¹Universidade Estadual de Campinas
                <br>
                ²Universidade de São Paulo
                <br>
                ³Instituto Nacional de Pesquisas Espaciais
                <br>
                ⁴Universidade Federal do Rio de Janeiro
              </div>

            </div>
          </article>

        </div>
      </div>



      <article class="panel" id="resume">

        <p class="panel-header">
          Resumo
        </p>
        <div class="panel-body btn-show-more">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus posuere dolor ante, in lobortis
            lorem
            commodo efficitur. Proin feugiat, ipsum id fringilla molestie, diam magna sodales ex, at
            ultrices
            magna
            dolor vitae tellus. Proin dictum non odio quis vehicula. Nam pretium condimentum euismod. Sed
            tincidunt
            condimentum est, sed pulvinar arcu dictum a. Suspendisse sed pulvinar enim. Aenean eget turpis
            tempor,
            elementum metus vel, tempus tellus. Curabitur mollis cursus porttitor. Pellentesque ac eros ac
            orci
            porta tempus. Nunc at quam nisi. Morbi vitae dui id quam lobortis porttitor a sed tortor.
            Maecenas
            dapibus libero nisl. Maecenas scelerisque, elit sed ultrices cursus, mauris sem placerat risus,
            a
            maximus massa nisi non nunc. Donec placerat diam eu leo vestibulum vulputate. Maecenas ut tempus
            lorem.
            Duiseu>ismod nisl ac sem dapibus, ut rutrum lectus auctor.
            <br>
            <br>
            Fusce viverra tellus non felis elementum, quis facilisis odio vulputate. Mauris in neque sed
            ante
            molestie dapibus. Nullam nec tincidunt massa. Proin ligula velit, dapibus eget vehicula vel,
            aliquet
            eu
            lorem. Sed posuere malesuada felis, ac commodo eros egestas id. Suspendisse nulla purus, auctor
            at
            gravida non, sodales quis elit. Sed leo lectus, rhoncus aliquet odio pulvinar, tempus tincidunt
            massa.
            Nunc molestie mollis massa in rhoncus. Integer egestas enim libero, vel luctus neque ultricies
            et.
            Sed<span id="mais" style="display: none;">
              ullamcorper, urna in ultricies porttitor, nisl augue malesuada mi, a luctus elit felis ultricies
              turpis.
              Pellentesque felis tellus, blandit eu interdum eu, vulputate id urna. Quisque lacinia metus in
              lorem
              congue, vel pellentesque ex aliquet. Aliquam rutrum justo vel turpis vulputate pulvinar.
              <br>
              <br>
              Integer justo nisl, aliquam at faucibus convallis, ultrices vel tortor. Sed malesuada rutrum
              elit,
              quis
              malesuada enim tincidunt quis. Pellentesque ac urna vel odio efficitur aliquet. Aenean vitae
              eros
              rutrum, pretium justo quis, porta metus. Sed arcu urna, congue et nunc ut, gravida posuere
              felis.
              Sed
              nec maximus arcu. Suspendisse id purus luctus, ornare dui nec, malesuada nulla. Nam imperdiet
              enim
              id
              nunc cursus, eu lobortis dolor volutpat. Morbi ligula risus, placerat vitae tortor a,
              condimentum
              scelerisque nibh. Vivamus scelerisque diam ut nisi fringilla finibus. Sed iaculis lorem est, a
              tempor
              tortor vestibulum in. Nulla mattis vulputate imperdiet. Nunc non erat convallis, condimentum
              nibh a,
              luctus massa. Quisque accumsan erat ut lectus faucibus sodales. Sed auctor ex ut odio lobortis,
              vitae
              vulputate est dapibus. Maecenas vitae ligula eu quam sodales iaculis eu vitae sem.</span>
            <a class="btn-show-more show-more" (click)="toggleText()">ver mais</a>
        </div>

      </article>


      <article class="panel" id="discussions">
        <p class="panel-header">
          Discussões
        </p>

        <div class="panel-body">
          <section class="topic">
            <h3 class="topic-title primary">
              Compartilhe suas ideias ou dúvidas com os autores
            </h3>
            <div class="topic-body">
              <div class="topic-icons">
                <img src="assets/icone1.svg" alt="Ícone de mão">
                <img src="assets/icone2.svg" alt="Ícone de Idiomas">
                <img src="assets/icone3.svg" alt="Ícone de Pessoas">
              </div>
              <p>
                Sabia que o maior estimulo no desenvolvimento cientifico e cultural é a curiosidade?
                Deixe
                seus
                quesitonamentos ou sugestões para o autor!
              </p>
            </div>
            <div class="add-topic">
              <img class="line" src="assets/line.svg" alt="linha de divisão">

              <a class="btn-create-topic" id="btn-topic-create" (click)="showForm()">
                <img src="./assets/plus.svg" alt="">
                <span>criar tópico</span>
              </a>
            </div>
          </section>

          <section id="form" style="display: none;">
            <h3 class="topic-title primary topic-text">
              Tem uma dúvida ou sugestão? Compartilhe seu feedaback com os autores!
            </h3>
            <div>
              <form method="post">
                <div class="topic-subject comments-container">
                  <p class="topic-title">
                    Assunto
                  </p>
                  <input type="text" class="topic-field subject" name="assunto" placeholder="Defina um tópico sucinto para notificar os autores...">
                </div>

                <p class="topic-content">
                  Conteúdo
                </p>
                <div class="textbox-container">
                  <div class="textbox-final">
                    <button type="button" class="button-topic" (click)="showTopicSendAndBlur()">Enviar</button>
                  </div>
                </div>
              </form>

            </div>
            <div class="add-topic">
              <img class="line" src="assets/line.svg" alt="linha de divisão">
            </div>

          </section>

          <section id="topic-send">

            <h3 class="topic-send-title">
              Seu tópico foi enviado com sucesso! :D
            </h3>
            <div class="topic-send-body">

              <p>
                Agradecemos por sua contribuição, uma notificação será enviada ao seu email assim que
                seu tópico for respondido!
              </p>

              <a class="btn-topic-new" (click)="showForm()">
                <img src="./assets/plus.svg" alt="">
                <span>Criar novo tópico</span>
              </a>

              <p class="topic-send-link">Descubra outros trabalhos</p>
            </div>
            <div class="add-topic">

              <img class="line" src="assets/line.svg" alt="linha de divisão">


            </div>

          </section>
          <section class="discussions">
            <div class="card">
              <div id="blur">
                <img src="assets/enviado.png" alt="blur de enviado">
                <p>Aguardando feedback dos autores</p>
              </div>

              <div class="card-header">
                <p class="card-title">
                  Assunto da pergunta aparece aqui
                </p>
                <p class="card-subtitle">
                  Carlos Henrique Santos
                </p>
              </div>
              <div class="card-body">
                <p>
                  Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da
                  dimensão e impacto de
                  processo formativo situado impacto de processo formativo processo...
                </p>
              </div>
              <div class="card-footer">
                <a class="icon-button">
                  <img src="./assets/more_info.svg" />
                </a>
                <a class="icon-button primary">
                  <img src="./assets/heart.png" />
                </a>
                <span>4 likes</span>
                <span>4 respostas</span>
              </div>
            </div>
            <br />
            <div class="answered-topics-questions">

            </div>
            <div class="card answered-topic  ops-topic-subject">
              <div class="card-header">
                <p class="card-title">
                  Assunto da pergunta aparece aqui
                </p>
                <p class="card-subtitle">
                  Carlos Henrique Santos
                </p>
              </div>
              <div class="card-body answered-topic ops-topic-subject">
                <p class="answered-topic" (click)="validateForm()">
                  Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da
                  dimensão e impacto de
                  processo formativo situado impacto de processo formativo processo...
                </p>
              </div>
              <div class="card-footer">
                <a class="icon-button">
                  <img src="./assets/more_info.svg" />
                </a>
                <a class="icon-button primary">
                  <img src="./assets/heart.png" />
                </a>
                <span>4 likes</span>
                <span>4 respostas</span>
              </div>

            </div>

            <div class="answered-topics-questions">
              <div class="card-answered answered-topic comments-container">
                <p class="card-answered-name answered-topic comments-container">
                  Adriano da Silva
                </p>

                <p class="card-answered-text answered-topic comments-container">
                  Resposta do autor é aqui. Relato inscreve-se no campo da análise da dimensão e impacto
                  de processo formativo situado impacto de processo formativo processo resente relato
                  inscreve-se no campo da análise da dimensão e impacto de processo formativo situado
                  impacto de processo formativo processo.
                </p>

              </div>

              <div class="card-answered-two comments-container">
                <p class="card-answered-name comments-container">
                  Carlos Henrique Santos
                </p>

                <p class="card-answered-text comments-container">
                  Consegui entender melhor agora! Parece que a variação da análise da dimensão e impacto
                  de processo formativo situado impacto de processo formativo.
                  <br>
                  <br>
                  Obrigada pela resposta,
                  muito interessante o seu trabalho!
                </p>

              </div>

              <div class="card-answered-three answered-topic comments-container">
                <p class="card-answered-name answered-topic comments-container">
                  Carmila Ferreira Andrade
                </p>

                <p class="card-answered-text answered-topic comments-container">
                  Também ínteressante lembrar que o relato inscreve-se no campo da análise da dimensão e
                  impacto de processo formativo situado impacto de processo formativo processo resente
                  relato inscreve-se no campo da análise da dimensão e impacto de processo formativo
                  situado impacto de processo formativo processo.
                  <br>
                  <br>
                  Situado impacto de processo formativo processo resente relato inscreve-se no campo da
                  análise da dimensão e impacto de processo formativo situado impacto de processo
                  formativo processo.
                </p>

              </div>

              <div class="card-answered-fourth answered-topic comments-container">
                <p class="card-answered-name answered-topic comments-container">
                  Ana Carolina
                </p>

                <p class="card-answered-text answered-topic comments-container">
                  Resposta do autor é aqui. Relato inscreve-se no campo da análise da dimensão e impacto
                  de processo formativo situado impacto de processo formativo processo resente relato
                  inscreve-se no campo da análise da dimensão e impacto de processo formativo situado
                  impacto de processo formativo processo.
                </p>

              </div>

            </div>

          </section>

        </div>
      </article>
    </section>

    <footer class="content-footer">
      <img src="assets/footer-image.svg" alt="Rodapé">
    </footer>
  </main>


</div>
